body {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.btn {
    height: 170px;
    width: 170px;
    border-radius: 40px;
    border: 7px solid black;
    margin: 1.5rem;
}

.red {
    background-color: rgb(241, 102, 102);
}

.yellow {
    background-color: rgb(240, 240, 123);
}

.green {
    background-color: rgb(113, 235, 113);
}

.blue {
    background-color: rgb(142, 142, 243);
}

.colorFlash {
    background-color: white;
}
